#about_section {

    background-color: $color_7;

}

#about_wrapper {

    width: 55%;
    margin-left: auto;
    margin-right: auto;

}

#about_title h2 {

    color: $color_6;
    font-size: 35px;
    margin-top: 0;

}

#about_title h3 {

    color: $color_4;
    font-weight: 400;
    font-size: 55px;
    margin-top: 15px;
    margin-bottom: 35px;

}

#about_content {

    @include flex_direction_align_justify(row, none, center);

}

#about_image {

    border-radius: 200px;
    width: 100%;

}

#about_description {

    font-size: 22px;
    padding: 0px 35px 0 35px;
    font-weight: 400;

}

#about_description #tagline {

    color: $color_4;
    font-size: 30px;
    margin-top: 0;
    font-weight: 600;

}

#about_description a {

    text-decoration: none;

}

#talk_wrapper {

    display: inline-block;
    margin-bottom: 0;

}

#about_contact_link {

    color: $secondary_color;
    text-decoration: none;

}

#about_contact_link::after {

    content: '';
    display: block;
    height: 3px;
    background-color: $color_4;

}

/* Video */

.portfolio_explanation {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 60px;

}

#portfolio_video {

    text-align: center;

}

#portfolio_video h2 {

    margin-top: 0;
    color: #315D87;
    font-weight: 400;
    font-size: 55px;

}


.portfolio_container hr {

    margin-top: 60px;
    width: 80%;

}


.portfolio_explanation h2 {

    font-size: 40px;
    align-self: center;

}
.portfolio_explanation iframe {

    align-self: center;
    
}

.iframe_container {

    display: flex;
    justify-content: center;

}

/** Media Queries **/

@media only screen and (max-width: 1448px) {

    #about_wrapper {

        width: 75%;

    }

    
}

@media only screen and (max-width: 1182px) {

    #about_wrapper {

        width: 85%;

    }

}

@media only screen and (max-width: 992px) {

    #about_wrapper {

        width: 80%;

    }

}

@media only screen and (max-width: 844px) {

    #about_content {

        @include flex_direction_align_justify(column, none, center);

    }

    #about_image {

        width: 60%;

    }

    #about_image_container {

        @include flex_direction_align_justify(none, center, center);
        margin-bottom: 3em;

    }

}

@media only screen and (max-width: 620px) {

    

}