.angle_element {

    height: 200px;
    width: 100%;
 
 
 }
 
 #angle1 {
 
     background-color: $color_7;
     width: 100%;
     
 }
 
 #inner_angle1 {
 
     background-color: $color_3;
     clip-path: polygon(100% 100%, 100% 0, 0 0);
     height: 100%;
     width: 100%;
 
 }

 #angle2 {
 
    background-color: $main_color;
    width: 100%;
    
}

#inner_angle2 {

    background-color: $color_7;
    clip-path: polygon(0 0, 100% 0, 18% 100%);
    height: 50%;
    width: 100%;

}