#banner {

    background-color: $color_3;
    height: 500px;
    color: white;

}

#banner_wrapper {

    height: 100%;
    @include flex_direction_align_justify(none, center, center);

}

#banner_wrapper h1 {

    margin: 0;
    @include flex_row_or_column(column);
    font-size: 60px;
    font-weight: 500;
    padding-top: 2em;

}

.banner_title {

    padding-bottom: 5px;

}


#banner_bold {

    font-weight: 700;

}

#banner_switcher {

    padding-left: 20px;

}

#banner_choice_1 {

    position: absolute;
    opacity: 1;
    white-space: nowrap;
    animation-duration: 1s;
    transform: translateY(55px);

}

#banner_choice_2 {

    position: absolute;
    opacity: 0;
    white-space: nowrap;
    animation-duration: 1s;
    transform: translateY(55px);

}

#banner_choice_3 {

    position: absolute;
    opacity: 0;
    white-space: nowrap;
    animation-duration: 1s;
    transform: translateY(55px);

}

#banner_choice_4 {

    position: absolute;
    opacity: 0;
    white-space: nowrap;
    animation-duration: 1s;
    transform: translateY(55px);

}

/** Media Queries **/

@media only screen and (max-width: 1448px) {

    
}

@media only screen and (max-width: 992px) {


}

@media only screen and (max-width: 1182px) {


}

@media only screen and (max-width: 844px) {


}

@media only screen and (max-width: 620px) {

    

}


