#banner {

    background-color: $color_3;
    height: 500px;
    color: $color_7;

}

#banner_wrapper {

    height: 100%;
    @include flex_direction_align_justify(none, none, center);
    padding-top: 10em;
}

#banner_wrapper h1 {

    margin: 0;
    font-size: 60px;
    font-weight: 500;
    padding-top: 1em;
    padding-right: 1em;
    width: 650px;

}

.banner_title {

    padding-bottom: 5px;

}

#first_banner_line {

    display: inline-block;
    width: 100%;

}

#banner_bold {

    font-weight: 700;

}

#banner_switcher {

    padding-left: 20px;

}

#banner_choice_1 {

    position: absolute;
    opacity: 1;
    white-space: nowrap;
    animation-duration: 1s;
    transform: translateY(55px);

}

#banner_choice_2 {

    position: absolute;
    opacity: 0;
    white-space: nowrap;
    animation-duration: 1s;
    transform: translateY(55px);

}

#banner_choice_3 {

    position: absolute;
    opacity: 0;
    white-space: nowrap;
    animation-duration: 1s;
    transform: translateY(55px);

}

#banner_choice_4 {

    position: absolute;
    opacity: 0;
    white-space: nowrap;
    animation-duration: 1s;
    transform: translateY(55px);

}

/*images*/

#tree_branch {

    position: absolute;

}

#coffee_cup {

    position: relative;
    right:0;
    bottom: 0em;
    z-index: 10;

}

/** Media Queries **/

@media only screen and (max-width: 1448px) {

    
}

@media only screen and (max-width: 1182px) {

    #banner_wrapper h1 {

        font-size: 45px;
      
    }
    

}

@media only screen and (max-width: 992px) {


}


@media only screen and (max-width: 844px) {


}

@media only screen and (max-width: 620px) {

    #banner_wrapper h1 {

        font-size: 35px;

    }

    #banner_switcher {

        width: 250px;

    }

    .banner_image {

        font-size: 20;

    }
    

}


