#contact_section {

    background-color: $color_9;
    display: flex;
    justify-content: center;

}

#contact_wrapper {

    width: 50%;
    margin-bottom: 100px;

}

#contact_wrapper h2 {

    font-size: 35px;
    margin-top: 0px;
    color: $color_8;
    margin-bottom: 0px;

}

#contact_wrapper h3 {

    font-size: 40px;
    color: $color_4;
    margin-bottom: 10px;
    margin-top: 0px;

}

#contact_wrapper p {

    font-size: 18px;

}

.contact_input_container label {
    padding-left: 10px;
    position: absolute;
}

#bottom_contact_container {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* input containers */ 

.contact_input_container {

    background-color: white;
    margin-top: 10px;
    width: 500px;

}

.contact_input_container input {

    background: white;
	color: inherit;
	border: none;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	outline: inherit;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 5px;

}

.contact_input_container textarea {

    background: white;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 10px;

}

/* Button */

#form_submit_button {

    margin-top: 15px;
    padding: 14px 35px 14px 35px;
    background-color: $color_4;
    border: none;
    border-radius: 5px;
    color: white;

}

/* Targeting single divs */

#name_div {

    border-right: solid red;
    border-bottom: solid red;

}



#email_div {

    border-right: solid red;
    border-bottom: solid red;


}

#message_div {

    border-right: solid red;
    border-bottom: solid red;

}


/* Targeting single inputs */

#nameInput {

   height: 50px;
   width: 100%;
   background-color: none;

}

#emailInput {

    height: 50px;
    width: 100%;


}

#messageInput {

    height: 200px;
    width: 99.1%;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/

}

