/* 
Main Break Points for Media Queries
1448px | 1182px | 992px | 844px | 620px
******************************************
Common stylings used for different pages end with _
Example: #page_button_
******************************************
Mixins stored in this file
*/
body {
  font-family: "Crimson Pro", serif;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

#nav {
  background-color: rgba(49, 62, 80, 0.9);
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#nav a {
  color: white;
}

#nav_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 9em;
  height: 100%;
}

.nav_link {
  text-decoration: none;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  padding: 0px 40px 0px 40px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #D76C6C;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 65%;
  transform: scaleX(0);
  height: 4px;
  bottom: 10;
  left: 16%;
  background-color: #D76C6C;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
  margin-left: auto;
  margin-right: auto;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

#hamburger_menu {
  position: absolute;
  display: none;
}

#enable_opacity {
  opacity: 1 !important;
  transition: opacity 1s;
}

#disable_opacity {
  opacity: 1;
}

/** hamburger activated **/
.menu_lengthen {
  height: 800px !important;
}

/** Media Queries **/
@media only screen and (max-width: 1250px) {
  #nav_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
}
@media only screen and (max-width: 992px) {
  #nav_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 1s, opacity 1s;
    background-color: rgba(49, 62, 80, 0.9);
  }
  #hamburger_menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    z-index: 100;
  }
  .nav_link {
    opacity: 0;
    padding-bottom: 40px;
  }
  #disable_opacity {
    opacity: 0 !important;
  }
}
/* 
Main Break Points for Media Queries
1448px | 1182px | 992px | 844px | 620px
******************************************
Common stylings used for different pages end with _
Example: #page_button_
******************************************
Mixins stored in this file
*/
body {
  font-family: "Crimson Pro", serif;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

#main_body {
  background-color: #EBD6AD;
  height: 100%;
}

#banner {
  background-color: #D76C6C;
  height: 500px;
  color: #f4f4f4;
}

#first_banner_line {
  display: inline-block;
  width: 100%;
}

#banner_bold {
  font-weight: 700;
}

/* title */
#new_banner_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 16%;
}

#new_banner_wrapper h1 {
  font-size: 3.8rem;
  padding-top: 2.5em;
  max-width: 1280px;
  padding-left: 50px;
}

#title_line_1 {
  display: inline-block;
  width: 100%;
  padding-bottom: 14px;
}

#title_line_2 {
  width: 80%;
}

#title_line_3 {
  width: 100%;
  display: inline-block;
  height: 37px;
}

.description_flip {
  width: 80%;
}

#title_line_3 span {
  position: absolute;
  white-space: nowrap;
  opacity: 1;
}

/*images*/
#tree_branch_div {
  position: absolute;
}

#coffee_cup_div {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

#coffee_cup {
  position: absolute;
  z-index: 1;
}

/** Media Queries **/
@media only screen and (max-width: 905px) {
  #new_banner_wrapper h1 {
    font-size: 3rem;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 844px) {
  #new_banner_wrapper {
    padding: 0 20%;
  }
  #new_banner_wrapper h1 {
    padding-top: 3em;
  }
  #new_banner_wrapper h1 {
    font-size: 2.8rem;
  }
  #title_line_1 {
    display: inline-block;
    width: 100%;
    padding-bottom: 0;
  }
  #coffee_cup {
    width: 150px;
  }
}
@media only screen and (max-width: 620px) {
  #banner_wrapper h1 {
    font-size: 35px;
  }
  #banner_switcher {
    width: 250px;
  }
  .banner_image {
    font-size: 20;
  }
  #new_banner_wrapper h1 {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 510px) {
  #banner_image {
    height: 25px;
    width: 25px;
  }
}
@media only screen and (max-width: 440px) {
  #new_banner_wrapper h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 340px) {
  #new_banner_wrapper h1 {
    font-size: 1.7rem;
  }
  #new_banner_wrapper {
    padding: 0 12%;
  }
  #tree_branch {
    width: 200px;
  }
  #banner_image {
    height: 15px;
    width: 15px;
  }
}
#about_section {
  background-color: #f4f4f4;
}

#about_wrapper {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

#about_title h2 {
  color: #D12749;
  font-size: 35px;
  margin-top: 0;
}

#about_title h3 {
  color: #315D87;
  font-weight: 400;
  font-size: 55px;
  margin-top: 15px;
  margin-bottom: 35px;
}

#about_content {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
}

#about_image {
  border-radius: 200px;
  width: 100%;
}

#about_description {
  font-size: 22px;
  padding: 0px 35px 0 35px;
  font-weight: 400;
}

#about_description #tagline {
  color: #315D87;
  font-size: 30px;
  margin-top: 0;
  font-weight: 600;
}

#about_description a {
  text-decoration: none;
}

#talk_wrapper {
  display: inline-block;
  margin-bottom: 0;
}

#about_contact_link {
  color: #313E50;
  text-decoration: none;
}

#about_contact_link::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #315D87;
}

/* Video */
.portfolio_explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 60px;
}

#portfolio_video {
  text-align: center;
}

#portfolio_video h2 {
  margin-top: 0;
  color: #315D87;
  font-weight: 400;
  font-size: 55px;
}

.portfolio_container hr {
  margin-top: 60px;
  width: 80%;
}

.portfolio_explanation h2 {
  font-size: 40px;
  align-self: center;
}

.portfolio_explanation iframe {
  align-self: center;
}

.iframe_container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  align-self: center;
}

.iframe_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/** Media Queries **/
@media only screen and (max-width: 1448px) {
  #about_wrapper {
    width: 75%;
  }
}
@media only screen and (max-width: 1182px) {
  #about_wrapper {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  #about_wrapper {
    width: 80%;
  }
}
@media only screen and (max-width: 844px) {
  #about_content {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: center;
  }
  #about_image {
    width: 60%;
  }
  #about_image_container {
    display: flex;
    flex-direction: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
  }
}
@media only screen and (max-width: 620px) {
  #about_description {
    padding: 0 15px 0 15px;
    align-self: center;
  }
}
.angle_element {
  height: 200px;
  width: 100%;
  z-index: 0;
}

#angle1 {
  background-color: #f4f4f4;
  width: 100%;
}

#inner_angle1 {
  background-color: #D76C6C;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
          clip-path: polygon(100% 100%, 100% 0, 0 0);
  height: 100%;
  width: 100%;
}

#angle2 {
  background-color: #EBD6AD;
  width: 100%;
}

#inner_angle2 {
  background-color: #f4f4f4;
  -webkit-clip-path: polygon(0 0, 100% 0, 18% 100%);
          clip-path: polygon(0 0, 100% 0, 18% 100%);
  height: 50%;
  width: 100%;
  transform: translateY(-1px);
}

#angle3 {
  background-color: #315D87;
  width: 100%;
}

#inner_angle3 {
  background-color: #EBD6AD;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
          clip-path: polygon(100% 100%, 100% 0, 0 0);
  height: 50%;
  width: 100%;
  transform: translateY(-1px);
  transform: scaleX(-1);
}

#angle4 {
  background-color: #f5e5a6;
  width: 100%;
}

#inner_angle4 {
  background-color: #315D87;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
          clip-path: polygon(100% 100%, 100% 0, 0 0);
  height: 100%;
  width: 100%;
}

#skills_container {
  background-color: #EBD6AD;
}

#skills_container h2 {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #aa0362;
}

#skills_container h3 {
  font-size: 40px;
  color: #315D87;
  margin-bottom: 10px;
}

#skills_container p {
  font-size: 24px;
  color: #8092AA;
}

#skills_wrapper {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

#technologies_wrapper {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: center;
  flex-wrap: wrap;
}

.skill_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 14.28%;
  text-align: center;
  color: #313E50;
  margin-bottom: 3em;
}

.skills_row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2em;
  flex-wrap: wrap;
}

/* Media Queries */
@media only screen and (max-width: 1448px) {
  #skills_wrapper {
    width: 75%;
  }
}
@media only screen and (max-width: 1182px) {
  #skills_wrapper {
    width: 85%;
  }
  .skill_icon {
    width: 25%;
  }
}
@media only screen and (max-width: 992px) {
  #skills_wrapper {
    width: 80%;
  }
}
@media only screen and (max-width: 844px) {
  #skills_wrapper {
    width: 95%;
  }
}
@media only screen and (max-width: 690px) {
  .skill_icon {
    width: 33.3%;
  }
}
#portfolio_section {
  background-color: #315D87;
}

#portfolio_wrapper {
  width: 55%;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#portfolio_wrapper h2 {
  color: #EBD6AD;
  font-size: 50px;
  margin-bottom: 0px;
}

#portfolio_wrapper h3 {
  color: #f5e5a6;
  font-size: 24px;
}

.portfolio_entry {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto 60px auto;
}

.portfolio_entry_reverse {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin: 0 auto 60px auto;
}

.portfolio_text h4 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #D76C6C;
}

.portfolio_text p {
  font-size: 20px;
  color: #f4f4f4;
}

.portfolio_tech {
  font-size: 20px;
  color: #f4f4f4;
}

.portfolio_image {
  display: flex;
  align-items: center;
}

.portfolio_buttons {
  margin-top: 20px;
}

.portfolio_buttons button {
  background-color: #D12749;
  padding: 18px 45px 18px 45px;
  border: 0px;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.portfolio_buttons button:nth-child(2) {
  margin-left: 20px;
}

/** Media Queries **/
@media only screen and (max-width: 1448px) {
  #portfolio_wrapper {
    width: 85%;
  }
}
@media only screen and (max-width: 1182px) {
  #portfolio_wrapper {
    width: 95%;
  }
}
@media only screen and (max-width: 992px) {
  .portfolio_entry {
    flex-direction: column-reverse;
  }
  .portfolio_entry_reverse {
    flex-direction: column-reverse;
  }
  .portfolio_image {
    align-self: center;
  }
  .portfolio_text {
    text-align: center;
  }
}
@media only screen and (max-width: 620px) {
  .portfolio_image img {
    width: 380px !important;
  }
}
@media only screen and (max-width: 430px) {
  .portfolio_image img {
    width: 285px !important;
  }
  .portfolio_buttons button {
    padding: 10px 30px 10px 30px;
  }
}
#contact_section {
  background-color: #f5e5a6;
  display: flex;
  justify-content: center;
}

#contact_wrapper {
  width: 50%;
  margin-bottom: 100px;
}

#contact_wrapper h2 {
  font-size: 35px;
  margin-top: 0px;
  color: #aa0362;
  margin-bottom: 0px;
}

#contact_wrapper h3 {
  font-size: 40px;
  color: #315D87;
  margin-bottom: 10px;
  margin-top: 0px;
}

#contact_wrapper p {
  font-size: 18px;
}

.contact_input_container label {
  padding-left: 10px;
  position: absolute;
}

#bottom_contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input containers */
.contact_input_container {
  background-color: white;
  margin-top: 10px;
  width: 500px;
}

.contact_input_container input {
  background: white;
  color: inherit;
  border: none;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  outline: inherit;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 5px;
}

.contact_input_container textarea {
  background: white;
  cursor: pointer;
  font-size: 20px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 10px;
}

/* Button */
#form_submit_button {
  margin-top: 15px;
  padding: 14px 35px 14px 35px;
  background-color: #315D87;
  border: none;
  border-radius: 5px;
  color: white;
}

/* Targeting single divs */
#name_div {
  border-right: solid red;
  border-bottom: solid red;
}

#email_div {
  border-right: solid red;
  border-bottom: solid red;
}

#message_div {
  border-right: solid red;
  border-bottom: solid red;
}

/* Targeting single inputs */
#nameInput {
  height: 50px;
  width: 100%;
  background-color: none;
}

#emailInput {
  height: 50px;
  width: 100%;
}

#messageInput {
  height: 200px;
  width: 99.1%;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}/*# sourceMappingURL=main.css.map */